<div class="card bookmarkGroup">
    <div class="card-header" style="background-color: @this.Group.Color">
        <h2 class="card-title h5 d-inline-block">@this.Group.Title</h2>
        <button type="button" class="addBookmarkButton btn btn-sm tooltip tooltip-left"
                aria-label="Create Bookmark" data-tooltip="Create Bookmark">
            <i class="icon icon-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <ul class="bookmarks">
            @if (this.Group.Bookmarks == null || !this.Group.Bookmarks.Any())
            {
                <li class="noBookmarksItem">
                    <div class="empty">
                        <div class="empty-icon">
                            <i class="icon icon-bookmark"></i>
                        </div>
                        <p class="empty-title h5">No Bookmarks</p>
                        <div class="empty-action">
                            <button type="button" class="btn btn-primary">
                                <i class="icon icon-plus"></i> Create Bookmark
                            </button>
                        </div>
                    </div>
                </li>
            }
            else
            {
                foreach (BookmarkDto bookmark in this.Group.Bookmarks)
                {
                    <Bookmark Model="bookmark" />
                }
            }
        </ul>
    </div>
</div>

@code
{
    [Parameter]
    public BookmarkGroupDto Group { get; set; } = null!;

    protected void OnCreateBookmarkClicked()
    {
        // Placeholder
    }
}
