@page "/"

@using Start.Client.Components
@using Start.Client.Components.Shared
@using Start.Client.Store.State
@using Microsoft.AspNetCore.Authorization
@using Fluxor

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@attribute [Authorize]

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IState<RootState> state
@inject IDispatcher dispatch

@if (this.state.Value.ContainerListState.ErrorMessage != null)
{
    <Alert Type="Alert.AlertType.Error">
        <b>Error</b> @this.state.Value.ContainerListState.ErrorMessage
    </Alert>
}

@if (this.state.Value.ContainerListState.IsLoadingContainersList)
{
    <div class="empty">
        <div class="empty-icon">
            <div class="loading loading-lg"></div>
        </div>
        <p class="empty-title h5">Loading Containers</p>
    </div>
}
else
{
    <Sidebar>
        <ContainerList />
        <BookmarkContainer />

        @* Data management forms *@

        <CreateContainer />
        <DeleteContainer />

        <CreateGroup />
        <DeleteGroup />

        <CreateBookmark />
        <DeleteBookmark />
    </Sidebar>
}

@code
{

}
